.nav {
  background-color: LightGray;
}

.btnSigIn {
  width: 300px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 5;
  transition: inherit;
  
}

@media screen and (min-width: 700px) {
  #navbarScroll {
    font-family: 'Roboto', -apple-system, system-ui, sans-serif;
    }

  #navActions{
    margin-left: 640px;

  }
  
  .btnSigIn {
    width: 60px;
    margin-top: 0px;
    margin-right: 10px;

  }


}