.App {
  font-family: "Roboto", sans-serif;

  h1 {
    font-family: "Bungee Shade", cursive;
  }

  padding: 2.5rem 1rem;
  text-align: center;
}

.title {
  margin: 0 0 0.75rem;
  font-size: 2.25rem;
}

.subtitle {
  margin: 0 0 2.5rem;
  font-size: 1.25rem;
}

.dropdown {
  display: inline-block;
  position: relative;
  user-select: none;

  .dropdown-btn {
    padding: 1rem 2rem;
    border: none;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #fff;
    background: #000;
    transition: background 0.15s ease;
    cursor: pointer;

    &:hover {
      background: #333;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 5px rgba(130, 138, 145, 0.5);
    }

    &::after {
      content: "";
      display: inline-block;
      margin-left: 1rem;
      vertical-align: 0.25rem;
      border-top: 0.5rem solid;
      border-right: 0.5rem solid transparent;
      border-bottom: 0;
      border-left: 0.5rem solid transparent;
    }
  }

  .dropdown-menu {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    border: 10px solid #333;
    text-align: left;
    background: #333;
    transform: translate3d(0, 73px, 0);
    box-sizing: border-box;
    cursor: pointer;
  }

  .dropdown-item {
    display: block;
    padding: 1rem 2rem;
    color: #fff;
    line-height: 1.5;
    text-decoration: none;

    &:hover {
      color: #000;
      background: #fff;
    }
  }
}
