.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
}


.navbar .nav-menu {
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  
}

.navbar .nav-menu .nav-item {
  max-height: 80px;
}

.navbar .nav-menu .menu-icon {
  display: none;
  margin-left: 20px ;
  color: white;
  margin-top: 15px;
}

.navbar .nav-menu #hidden {
  display: flex;

}


.nav-links {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-left: 15px;

}

.navbar .search-menu {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position:fixed;
}

.search-menu input {
  background-color: white;
  width: 220px;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  padding-left: 15px;
}

.search-menu button {
  background-color: white;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 10px;
  padding-right: 40px;
}


@media screen and (max-width: 930px) {

  .navbar .nav-menu .menu-icon {
    display: flex;
  }

  .navbar .nav-menu .nav-item {
    display: none;
  }

  .navbar .nav-menu #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 230px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center ;
  }

  .navbar .nav-menu #hidden .nav-links {
    margin: 10px;
    font-size: 25px;

  }
}