.nav {
  background-color: LightGray;
}

.btnSigIn {
  align-items: center;
  justify-content: center;
  display: flex;
  background: #4A3AFF;
  border-radius: 76px;
  width: 300px;
}

@media screen and (min-width: 700px) {
  #navbarScroll {
    font-family: 'Roboto', -apple-system, system-ui, sans-serif;
    margin-left: 650px;
  }

  .btnSigIn {
    align-items: center;
    justify-content: center;
    display: flex;
    background: #4A3AFF;
    border-radius: 76px;
    width: 67px;
  }


}